{% extends "base.html" %}
{% block title %} {{title }} | {{block.super }}{% endblock %}


{% block content %}


    <!-- Default box -->
    <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg">
        <div class="px-6 py-4 border-b border-gray-200 dark:border-gray-700 flex justify-between items-center">
          <h3 class="text-lg font-bold text-gray-900 dark:text-white">Projects</h3>

          <div class="flex space-x-2">
            <button type="button" class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-white" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-white" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="p-0">
          <div class="overflow-x-auto">
            <table class="min-w-full">
                <thead>
                    <tr>
                        <th class="px-6 py-3 border-b-2 border-gray-300 dark:border-gray-700 text-left text-xs leading-4 font-medium text-gray-600 dark:text-gray-400 uppercase tracking-wider" style="width: 1%">#</th>
                        <th class="px-6 py-3 border-b-2 border-gray-300 dark:border-gray-700 text-left text-xs leading-4 font-medium text-gray-600 dark:text-gray-400 uppercase tracking-wider" style="width: 20%">Project Name</th>
                        <th class="px-6 py-3 border-b-2 border-gray-300 dark:border-gray-700 text-left text-xs leading-4 font-medium text-gray-600 dark:text-gray-400 uppercase tracking-wider" style="width: 30%">Team Members</th>
                        <th class="px-6 py-3 border-b-2 border-gray-300 dark:border-gray-700 text-left text-xs leading-4 font-medium text-gray-600 dark:text-gray-400 uppercase tracking-wider">Project Progress</th>
                        <th class="px-6 py-3 border-b-2 border-gray-300 dark:border-gray-700 text-center text-xs leading-4 font-medium text-gray-600 dark:text-gray-400 uppercase tracking-wider" style="width: 8%">Priority</th>
                        <th class="px-6 py-3 border-b-2 border-gray-300 dark:border-gray-700" style="width: 20%"></th>
                    </tr>
                </thead>
                <tbody class="bg-white dark:bg-gray-800">
                  {% for project in projects %}
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 dark:border-gray-700">{{ forloop.counter }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 dark:border-gray-700">
                            <a href="{% url 'projects:project-detail' project.id %}" class="text-blue-500 hover:underline">{{ project.name }}</a>
                            <br/>
                            <small class="text-gray-600 dark:text-gray-400">Created {{ project.start_date }}</small>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 dark:border-gray-700">
                            <ul class="flex space-x-1">
                              {% for member in project.team.members.all %}
                                <li>
                                    <img alt="Avatar" class="h-8 w-8 rounded-full" src="{{ member.profile.profile_picture_url }}">
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 dark:border-gray-700">
                            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                <div class="bg-{{project.status_color}}-600 h-2.5 rounded-full" style="width: {{project.progress}}%"></div>
                            </div>
                            <small class="text-gray-600 dark:text-gray-400">{{ project.progress}}% Complete</small>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 dark:border-gray-700 text-center">
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-{{ project.priority_color }}-100 text-{{ project.priority_color }}-800">{{ project.priority }}</span>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 dark:border-gray-700 text-right">
                           {% if request.user == project.owner %}
                            <a class="px-1 py-1 mx-1 text-sm font-medium text-white bg-blue-500 rounded-md hover:bg-blue-600" href="{% url 'projects:update' project.id %}">
                                <i class="fas fa-pencil-alt"></i> Edit
                            </a>
                            {% endif %}
                            
                            {% if request.user == project.owner %}
                              <a class="px-1 py-1 mx-1 text-sm font-medium text-white bg-red-500 rounded-md hover:bg-red-600" href="{% url 'projects:delete' project.pk %}?next={{ request.path }}">
                                <i class="fas fa-trash"></i> Delete
                              </a>
                            {% endif %}
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
          {% if messages %}
            <div class="p-6">
                {% for message in messages %}
                <div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
          {% endif %}

       {% include "components/paginator.html" %}


        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

{% endblock  %}